[submodule "oficiales-unidades-ms"]
	path = oficiales-unidades-ms
	url = https://github.com/RomanoNinag/mod-oficiales-unidades-ms.git
[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/RomanoNinag/client-gateway-SCAEP.git
[submodule "arm-equip-ms"]
	path = arm-equip-ms
	url = https://github.com/RomanoNinag/mod_reg_equipos.git
[submodule "trazabilidad-ms"]
	path = trazabilidad-ms
	url = https://github.com/RomanoNinag/trazabilidad-ms.git
